@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
/*!---------------RESET-------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'News Cycle', sans-serif; 
}
/*!---------------MAIN-------------------*/
.h3, h3 {
    font-size: 20px;
}
.hero {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("../img/fondoheather.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h2{
    font-size: 80px;
    text-shadow: 1px 1px 1px rgb(167, 167, 167);
}

.hero p{
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgb(167, 167, 167);
}
.hero a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.744);
    padding: 5px;
    font-size: 20px;
}
.hero a:hover {
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
}
/**---------------INDEX."CATEGORIAS"-------------------**/
.carrusel-bb{
    margin: 10px 0 10px;
}

.grid-categorias{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 88vh;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-categorias div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.categorias-item{
    position: relative;
}
.categorias-item div{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.359);
    width: 100%;
    padding: 5px;
    text-align: center;
}
.categorias-item div a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    background-color: rgba(210, 196, 151, 0.8);
    padding: 1px;
}
.categorias-item a:hover {
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
}

.fixed{
    position: fixed;
    right: 20px;
    bottom: 320px;
}

/**---------------PAGE."PRODUCTOS"---------------**/
.grid-productos{
    margin-top: 70px;
}
/*--GRID CATALOGO--*/
.grid-productos{
    margin: 67.55px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 435px;
    gap: 40px;
}
.grid-productos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.29);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.29);
}

.grid-item{
    position: relative;
}
.grid-item h3 p{
    font-family: 'News Cycle', sans-serif; 
}
.grid-item div{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.359);
    width: 100%;
    padding: 2px;
    text-align: center;
}
.grid-item div p{
    margin: 0
}

/**---------------P.CONTACTO-------------------*/
.contacto{
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 205, 189);
    flex-wrap: wrap;
}
.titulo-formulario{
    text-align: center;
}
.contacto-formulario{
/* Arriba | Derecha | Abajo | Izquierda */
    margin: 70px 0 10px 15px;
}
.form-control {
    width: 95%
}
.contacto-ubicanos{
    margin: 70px 15px 0 0;
}
/**---------------P.MI CUENTA-------------------*/

.mi-cuenta{
    margin: 57.55px 0 0 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/background-micuenta2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
}
.formulario-mi-cuenta{
    width: 25%;
}
/**---------------P.CARRITO-------------------*/
.carrito{
    padding: 100px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 205, 189);
}
.carrito h2{
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 133px 0 133px 0;

}
/*!---------------FOOTER-------------------*/

footer{
    /*background-image: url("../img/footer-3.jpg");*/
    background-color: rgb(254, 235, 190);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h2, h2 {
    font-family: 'News Cycle', sans-serif; 
    font-size: 20px;
}
footer .formulario{
    text-align: center;
    padding: 10px;
}
.formulario div label{
    font-size: 17px;
}

footer .ayuda-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.ayuda-redes a{
    font-size: 17px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
footer .logopie{
    background-color: black;
    text-align: center;
    padding-top: 5px;
    color: white;
}
.logopie img{
    width: 380px;
}

/**---------MEDIA QUERIES---------**/
@media screen and (max-width:1000px){
    .grid-productos{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 435px;
        gap: 30px;
    }
}
@media screen and (max-width:900px){
    .grid-productos{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 435px;
        gap: 30px;
    }
}
@media screen and (max-width:800px){
    .hero{
        height: 82vh;
    }
    .grid-categorias{
        grid-auto-rows: 80vh;
        padding: 5px 0px 5px 0;
        row-gap: 5px;
    }
    .fixed{
        display: none;
    }
}
@media screen and (max-width:600px){
    .carrusel-bb{
        display: none;
    }
    .grid-categorias{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 70vh;
    }
}
@media screen and (max-width:500px){
    .grid-productos{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 520px;
        gap: 20px;
    }
}
/*@media  screen and (max-width:487px){






