/*!---------------FOOTER-------------------*/
footer{
    background: nth($colores, 2);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(253,229,169,1) 47%, rgba(251,213,117,1) 100%);
    .formulario{
        text-align: center;
        padding: 10px;
        div{
            label{
                font-size: 17px;
            }
        }
    }
    .ayuda-redes{
        text-align: center;
        padding: 30px;
        @include flex (flex, row, space-between, center);
        a{
            font-size: 17px;
            text-decoration: underline;
            color: nth($colores, 1);
        }
    }
    .logopie{
        background-color: nth($colores, 1);
        text-align: center;
        padding-top: 5px;
        color: nth($colores, 2);
        img{
            width: 320px;
        }
        p{
            font-size: 13px;
            margin: 0;
        }
    }
}
